@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1 class="text-center">Add an engineer to this machine</h1>
<hr>
<h4>Name: @Html.DisplayFor(model => model.Name)</h4>
<br>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select engineer")<br>
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}
<br>
<hr class="my-2">
<p class="nav">@Html.ActionLink("Back to list", "Index")</p>