@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@* <p><strong>NOTE:</strong> You need to have at least one category before you can add an machine!</p> *@
@* <p>Go to @Html.ActionLink("this page", "Create", "Categories") to create a category.</p> *@
<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)<br>
  @Html.TextBoxFor(model => model.Name) <br> <br>
  @Html.LabelFor(model => model.Description)<br>
  @Html.TextBoxFor(model => model.Description)
  <br class="small">
  <br>
  <input type="submit" value="Add new machine" class="btn btn-primary" />
}
<p class="nav">@Html.ActionLink("Show all machines", "Index")</p>