@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.Description)</h4>
<hr>
<div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Name)<br>
    @Html.EditorFor(model => model.Name)<br> 
    @Html.LabelFor(model => model.Description)<br>
    @Html.EditorFor(model => model.Description)
    <br>
    <input type="submit" value="Save" />
  }
  <br>
      <h4>This machine has the following engineers:</h4>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>Engineer: @join.Engineer.Name
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
      </li>
    }
  </ul>

    @* <span>Due date: </span> *@
    @* <input type="date">  *@


</div>
<br>
<hr class="my-2">
<p class="nav">@Html.ActionLink("Back to list", "Index")</p>