@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.Description)</h4>

<div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.DueDate)
    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control datepicker date-input", type = "date" } })
    @* <span>Due date: </span> *@
    @* <input type="date">  *@

    <input type="submit" value="Save" />
  }
</div>
<p>@Html.ActionLink("Back to list", "Index")</p>