@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)<span>: </span>
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />

  @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.Name
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
      </li>
    }
}

<p class="nav">@Html.ActionLink("Back to list", "Index")</p>