  @{
  Layout = "_Layout";
}
<h1 class="text-center">Welcome to the Dr. Stillystringz's Factory!</h1>

@using Factory.Models

<hr>
<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet!</p>
} 
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = @machine.MachineId}) | @machine.Status</li>
  }
</ul>
<br>
<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been added yet!</p>
} 
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId}) | @engineer.Status</li>
  }
</ul>
<br>

<hr class="my-2">
<p class="nav" >@Html.ActionLink("Manage machines", "Index", "Machines")</p> 
<p class="nav" >@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>